<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="card-doctor">
            <div class="header" style="width:100%">
              <img src="{{PhotoFilePath}}" alt="">
              <div class="meta">
                <a href="#"><span class="mai-call"></span></a>
                <a href="#"><span class="mai-logo-whatsapp"></span></a>
              </div>
            </div>

          </div>
        </li>
        <li class="list-group-item">Tên Bác Sĩ: Dr. {{bacsi.TenBS}}<br>Chuyên Khoa: {{bacsi.ChuyenKhoa.TenCK}}<br>
          Email: {{bacsi.Email}}<br>Số Điện Thoại: {{bacsi.SDT}}</li>
        <li class="list-group-item">
          <a [routerLink]="['/Bacsi']">Chờ Duyệt</a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/Bacsi/chokham']">Chờ Khám</a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/Bacsi/dakham']">Đã Khám</a>
        </li>
      </ul>
    </div>
    <div class="col md-8">
      <div class="row" *ngFor="let item of choduyet" style="border: 1px rgb(17, 173, 179); border-radius: 3px;">
        <div class="col-md-2">
          <img width="100px" height="100px" src="https://localhost:44352/Photos/{{item.BenhNhan.HinhAnh}}" />
        </div>
        <div class="col-md-7">
          <h3>{{item.BenhNhan.TenBN}}</h3>
          <p>Ngày sinh: {{item.BenhNhan.NgaySinh|date}}</p>
          <p>Điện thoại:{{item.BenhNhan.SDT}}</p>
          <p>Ngày Khám:{{item.NgayKham|date:'medium'}}</p>
          <p>Ghi Chú:{{item.GhiChu}}</p>

        </div>
        <div class="col-md-3">
          <a type="button" class="btn btn-primary" href="{{item.PhongKham}}" style="width:100%" target="_blank">Khám
            Bệnh</a>
          <button type="button" (click)="Huy(item.MaLK)" class="btn btn-danger mt-2" style="width:100%"> Hủy </button>
          <button type="button" style="width:100%" (click)="DuyetLichKham(item)" class="btn btn-primary">Phiếu
            Khám</button>
        </div>

      </div>
    </div>

  </div>
</div>