<div class="page-banner overlay-dark bg-image" style="background-image: url(../assets/img/bg_image_1.jpg);">
  <div class="banner-section">
    <div class="container text-center wow fadeInUp">
      <nav aria-label="Breadcrumb">
        <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
      </nav>
      <h1 class="font-weight-normal">About Us</h1>
    </div> <!-- .container -->
  </div> <!-- .banner-section -->
</div> <!-- .page-banner -->

<div class="page-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4 py-3 wow zoomIn">
        <div class="card-service">
          <div class="circle-shape bg-secondary text-white">
            <span class="mai-chatbubbles-outline"></span>
          </div>
          <p><span>Chat</span> with a doctors</p>
        </div>
      </div>
      <div class="col-md-4 py-3 wow zoomIn">
        <div class="card-service">
          <div class="circle-shape bg-primary text-white">
            <span class="mai-shield-checkmark"></span>
          </div>
          <p><span>One</span>-Health Protection</p>
        </div>
      </div>
      <div class="col-md-4 py-3 wow zoomIn">
        <div class="card-service">
          <div class="circle-shape bg-accent text-white">
            <span class="mai-basket"></span>
          </div>
          <p><span>One</span>-Health Pharmacy</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 wow fadeInUp">
        <h1 class="text-center mb-3">Giới Thiệu Về Chúng Tôi</h1>
        <div class="text-lg">
          <p>Tọa lạc tại 422 – 424 đường 3 tháng 2 P.12, Q.10, TP.HCM. Có cơ sở vật chất hiện đại, tối tân. Các bác sĩ,
            y tá giàu kinh nghiệm làm việc tại các bệnh viện lớn tại TPHCM tư vấn khám, chữa bệnh cho bệnh nhân, các
            điều dưỡng nhiệt tình, tận tụy với công việc, phục vụ cho bệnh nhân là những yếu tố đem đến sự an tâm cho
            khách hàng trong 10 năm qua và sẽ tiếp tục cố gắng phát triển, để có thể giúp đõ nhiều bệnh nhân hơn nữa.
          </p>
          <h3 class="text-center text-primary mb-3">Với Nhiều Chuyên Khoa Chất Lượng Cao!</h3>
        </div>
      </div>
      <div class="col-lg-10 mt-5">
        <h1 class="text-center wow fadeInUp">Đội ngũ bác sĩ giàu kinh nghiệm</h1>
        <div class="row mt-5">
          <div class="col-lg-4 py-2 wow zoomIn" *ngIf="bs1">
            <div class="card-blog">
              <div class="header">
                <div class="post-category">
                  <a href="#">{{bs1.ChuyenKhoa.TenCK}}</a>
                </div>
                <a href="blog-details.html" class="post-thumb">
                  <img src="{{url+bs1.HinhAnh}}" alt="">
                </a>
              </div>
              <div class="body">
                <h5 class="post-title"><a [routerLink]="['/Bacsi/detail',bs1.MaBS]">Dr. {{bs1.TenBS}}</a></h5>
                <div class="site-info">
                  <div class="avatar mr-2">
                    <span>Nhiều năm kinh nghiệm tại các bệnh viện lớn</span>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 py-2 wow zoomIn" *ngIf="bs2">
            <div class="card-blog">
              <div class="header">
                <div class="post-category">
                  <a href="#">{{bs2.ChuyenKhoa.TenCK}}</a>
                </div>
                <a href="blog-details.html" class="post-thumb">
                  <img src="{{url+bs2.HinhAnh}}" alt="">
                </a>
              </div>
              <div class="body">
                <h5 class="post-title"><a [routerLink]="['/Bacsi/detail',bs2.MaBS]">Dr. {{bs2.TenBS}}</a></h5>
                <div class="site-info">
                  <div class="avatar mr-2">
                    <span>Nhiều năm kinh nghiệm tại các bệnh viện lớn</span>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 py-2 wow zoomIn" *ngIf="bs3">
            <div class="card-blog">
              <div class="header">
                <div class="post-category">
                  <a href="#">{{bs3.ChuyenKhoa.TenCK}}</a>
                </div>
                <a href="blog-details.html" class="post-thumb">
                  <img src="{{url+bs3.HinhAnh}}" alt="">
                </a>
              </div>
              <div class="body">
                <h5 class="post-title"><a [routerLink]="['/Bacsi/detail',bs3.MaBS]">Dr. {{bs3.TenBS}}</a></h5>
                <div class="site-info">
                  <div class="avatar mr-2">
                    <span>Nhiều năm kinh nghiệm tại các bệnh viện lớn</span>
                  </div>

                </div>
              </div>
            </div>
          </div>


          <div class="col-12 text-center mt-4 wow zoomIn">
            <a [routerLink]="['/list-bacsi']" class="btn btn-primary">Read More</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-section banner-home bg-image" style="background-image: url(../assets/img/banner-pattern.svg);">
  <div class="container py-5 py-lg-0">
    <div class="row align-items-center">
      <div class="col-lg-4 wow zoomIn">
        <div class="img-banner d-none d-lg-block">
          <img src="../assets/img/mobile_app.png" alt="">
        </div>
      </div>
      <div class="col-lg-8 wow fadeInRight">
        <h1 class="font-weight-normal mb-3">Get easy access of all features using One Health Application</h1>
        <a href="#"><img src="../assets/img/google_play.svg" alt=""></a>
        <a href="#" class="ml-2"><img src="../assets/img/app_store.svg" alt=""></a>
      </div>
    </div>
  </div>
</div> <!-- .banner-home -->