<h1 class="text-center">Quản lý thông tin bệnh nhân</h1>
<br><br>
<div class="container">
  <div class="col-md-12">
    <table class="table table-striped" width="100%">
      <thead>
          <tr>
              <th>Ảnh</th>
              <th>Mã Bệnh Nhân</th>
              <th>Tên Bệnh Nhân</th>
              <th>SDT</th>
              <th>GioiTinh</th>
              <th>Ngày Sinh</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let dataItem of ListBN">
              <td><img width="50px" src="{{PhotoFilePath+dataItem.HinhAnh}}" alt=""></td>
              <td>{{dataItem.MaBN}}</td>
              <td>{{dataItem.TenBN}}</td>
              <td>{{dataItem.SDT}}</td>
              <td>{{dataItem.GioiTinh}}</td>
              <td>{{dataItem.NgaySinh}}</td>
              <td>
                  <a type="button" class="btn btn-outline-info" [routerLink]="['/Admin/Benhnhan/edit',dataItem.MaBN]">Edit</a>
                  <button type="button" class="btn btn-outline-danger ml-2"(click)="deleteClick(dataItem)">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                    </svg>
                  </button>
              </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
